table {
    border-collapse: collapse;
    border: 2px solid darkgray;
    font-family: 'Verdana';
    font-size: 16px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

th {
    background-color: lightgray;
}

th, td {
    border: 1px solid lightslategray;
    padding: 8px 10px;
}